.App {
  text-align: center;
  background-color: #f9f7f7;
  color: #15202b;
  border: 5px solid;
  min-height: 100vh;
}

.jsx-class {
  color: #15202b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.header {
  background-color: #15202b;
  border: 2px solid #222831;
  color: #dddddd;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0px 8px 0px;
}

.footer {
  background-color: lightcoral;
}

h1 {
  margin: 0;
  font-style: italic;
}

/* .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
} */

.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  background-color: gainsboro;
  margin-top: 4px;
  cursor: pointer;
}

.movie {
  border-radius: 5px;
  background-color: #dddddd;
  color: #15202b;
  border: 1px solid #222831;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 22%;
  margin-top: 42px;
}

.movie img {
  width: 100%;
  height: 290px;
}

.btn {
  background-color: #15202b;
  color: silver;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.compa {
  background-color: lightgray;
  padding: 5px;
  margin: 8px;
}

.compb {
  background-color: lightcoral;
  padding: 5px;
  margin: 8px;
}

.compc {
  background-color: lightgreen;
  padding: 5px;
  margin: 8px;
}

.input-box {
  padding: 6px 20px;
  background: #15202b;
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  font-style: italic;
  color: rgb(247, 248, 248);
  height: 20px;
  appearance: none;
  transition: border 0.15s ease 0s;
  margin-top: 15px;
  text-align: left;
}
:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}